@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./reset.css);
@import url(./sidebar.css);

:root {
  --co1: #E3E9F7;
  --co2: #11111d;
  --co3: #1D1B31;
  --co4: #B6C2CE;
  --co5: #FFFFFF;
  --co6: #000000;
  --co7: #12C3D2;
  --co8: #28F19C;
  --co8-shadow: #28f19d5e;
  --co8-shadow2: #28f19dde;
  --co9: #01A0FA;

  --fonte-principal: 'Noto Sans Display';
}

body {
  height: 100vh;
  background-color: var(--co2);
  font-family: var(--fonte-principal);
  color: white;
}

input,
textarea {
  color: var(--co2);
  font-size: 16px;
}



button,
a {

  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  background: var(--co2);
  height: 100vh;
  padding-top: 2em;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 0 15px var(--co8);
}

.sidebar ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.sidebar button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding: 1em;
  border: none;
  background: var(--co2);
  color: var(--co8);
  cursor: pointer;
  text-align: left;
  border-radius: 5px;
  font-weight: 600;
}

.sidebar button:hover {
  background: var(--co8);
  color: var(--co2);
}

.qrcode_icon {
  width: 120px;
  align-self: center;

}

.conteudo {
  margin-left: 250px;
  height: 100vh;
  flex-grow: 1;
}


.secao {
  display: none;
  background: var(--co3);

}

.secao.ativa {
  display: block;
}

.sidebutton.ativo {
  background-color: transparent;
  color: var(--co8);
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid var(--co8);
}

.sidebutton.ativo.light {
  background-color: transparent;
  color: var(--co2);
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid var(--co2);
}

.button.light {
  background-color: var(--co2);
  color: var(--co5);
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid var(--co2);
}

.theme_img {
  width: 20px;
  height: 20px;
  margin: 0 30px 0 30px;
}

.titulo_nome {
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 0.5em;

}

.titulo_div {
  color: var(--co8);
  font-size: 28px;
  margin-bottom: 1em;
}

.dropdown {
  width: 40vw;
  border-bottom: 2px solid var(--co8);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.dropdown-header {
  background-color: var(--co2);
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--co8);
}

.dropdown-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--co3);
}

.dropdown.active .dropdown-content {
  display: block;
}

.mais_menos {
  font-size: 20px;
  color: var(--co8);
}

.container_wifi,
.container_sms,
.container_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
  background-color: var(--co2);
}

.wifi_form,
.sms_form,
.text_form,
.email_form,
.card_form,
.url_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.formulario::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: var(--co3);
  border-radius: 5px;
}

.formulario::-webkit-scrollbar-thumb {
  background: var(--co8);
  border-radius: 5px;
}

.div_container_wifi {
  padding: 2em 0 0 11em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 30%;
  height: 93.4%;
  background-color: var(--co3);
  padding: 2em 0;
  gap: 2em;
}

.div_input-text {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.div_input-text input {
  width: 235px;
}

.empresa {
  width: 300px !important;
}

.text-email {
  width: 500px !important;
}

.cargo {
  width: 165px !important;
}

.text-contato {
  width: 145px !important;
}

.div_card_qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1em;
  border-radius: 15px;

}

.card_qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.resultado_titulo {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 300px;
  margin: 1em;
}

.resultado_texto {
  width: 250px;
  border: 2px solid var(--co2);
  border-radius: 5px;
  padding: 1em;
  margin: 0.5em 0;
  text-align: center;
  font-weight: 500;
}

.resultado_img {
  display: flex;
  width: 350px;
  justify-self: center;
  margin-bottom: 1em;
}

.resultado_dica {
  color: var(--co5);
  background-color: var(--co6);
  font-weight: 600;
  text-align: center;
  padding: 0.5em;
  width: 97.5%;
  border-radius: 0 0 10px 10px;

}

.input_text {
  width: 500px;
  border: none;
  border-bottom: 2px solid var(--co8);

  color: var(--co4);
  padding: .5em;
  font-size: 14px;
  margin: .5em;
  background-color: transparent;
  outline: none;
  font-weight: 600;
}

.code_generator {
  background-color: var(--co8);
  color: var(--co6);
  border-radius: 15px;
  border: none;
  padding: 1em 2em;
  margin-top: 2em;
  font-weight: 600px;
}

.code_generator:hover {
  background-color: var(--co8-shadow2);
  box-shadow: 0 0 10px var(--co8);
}

.radio-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2em;
  margin-top: 2em;

}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 25px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  color: var(--co5);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  border-radius: 3px;
  border: 2px solid var(--co8);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked+.radio-button__label .radio-button__custom {
  transform: translateY(-50%) scale(0.9);
  border: 3px solid var(--co5);
  background-color: var(--co8);
  color: var(--co9);
}

.radio-button__input:checked+.radio-button__label {
  color: var(--co8);
}

.radio-button__label:hover .radio-button__custom {
  transform: translateY(-50%) scale(1.2);
  border-color: var(--co5);
  box-shadow: 0 1px 20px var(--co8);
}

.textarea-texto {
  height: 200px;
  resize: vertical;
  font-weight: 600;
  border: 2px solid var(--co8);
}

.textarea {
  width: 500px;
  border: none;
  border: 2px solid var(--co8);
  border-radius: 5px;
  color: var(--co4);
  padding: 1em;
  font-size: 14px;
  margin: .5em;
  background-color: transparent;
  outline: none;
  font-weight: 600;
  resize: vertical;

}

.textarea::placeholder {
  font-weight: 600;
  font-size: 16px;
  font-family: var(--fonte-principal);
}

.switch {
  position: absolute;
  display: flex;
  width: 50px;
  height: 21px;

}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--co3);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 1px;
  bottom: 1px;
  background-color: var(--co8);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: var(--co4);

}

input:focus+.slider {
  box-shadow: 0 0 1px var(--co4);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(29px);
}

.slider:after {
  content: '';

  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;

}

input:checked+.slider:after {
  content: '';
}

input:checked+.slider::before {
  background-color: var(--co2);
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 50px;
  padding: 20px 0;
}

.sidebar button.light {
  background-color: var(--co5);
  color: var(--co2);
}

.sidebar button.light:hover {
  background-color: var(--co8);
}

.container.light {
  background-color: var(--co1);

}

body.light {
  background-color: var(--co1);

}

.titulo_nome.light {
  color: var(--co2)
}

.sidebar.light {
  background-color: var(--co5);
  box-shadow: 0 0 15px var(--co2);
}

.container_qrcode.light {
  background-color: var(--co5);

}

.formulario.light {
  background-color: var(--co5);
  box-shadow: 0px 0px 20px 0px var(--co2);
}

.input_text.light {
  border: var(--co2) 2px solid;
}



.card_nome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;


}

.div_picker {
  display: flex;
  flex-direction: row;
  gap: .5em;
  margin: 2em 0;
}


.color-picker-container {
  position: relative;
  display: inline-block;
}

.color-picker-container p {
  margin-top: 0.5em;
}


#color-picker-1,
#color-picker-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}


.custom-picker {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--co8);
  background-color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_picker {
  background-color: var(--co3);
  color: var(--co4);
  outline: none;
  border: none;
  border-bottom: var(--co8) solid 2px;
  font-size: 16px;
  font-weight: 600px;
}

.range-input {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: var(--co5);
  border-radius: 5px;
  outline: none;
  margin-top: 1em;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: var(--co8);
  border-radius: 50%;
  cursor: pointer;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--co5);
  transition: all 0.2s ease;
}

.div_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.size_label {
  font-size: 14px;
  font-weight: 600;
}

.size_label-p {
  font-size: 14px;
  font-weight: 400;
}

.div_sizeLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 1em 0;
}

.alertas {
  width: 300px;
  background-color: #faaaaa;
  padding: 1em;
  border: 1px solid hsl(0, 100%, 76%);
  border-radius: 20px;
  color: var(--co2);
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
}